<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs',{'datos':datos.activar}) %>
    <title>Essenciana</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="banner">
    <img class="img-banner" src="/img/banner-e.png" alt="Essenciana" />
    </div>
    <main>
    
    
    <p class="title">PROGRAMACION</p>
    <section class="box-flex">
        <% programacion.forEach(book => { %>
            <article class="article-style">
                <a href="/products/detail/<%= book.id_book %>">
                <div class="conteiner-img">
                    <img
                    src="/img/<%= book.image %>"
                    alt="<%= book.name %>"
                    />
                </div>
                <div class="info">
                    <p class="descripcion"><%= book.name %></p>                    
                    <div class="box-linea">
                        <p class="precios">$<%= book.price %></p>
                        <p class="desc"><%= book.stock ? "Disponible" : "Sin Stock" %></p>
                    </div>

                </div>
            </a>
            </article>
        <%}) %>
    </section>

    <p class="title">ECONOMIA</p>
    <section class="box-flex">
        <% economia.forEach(book => { %>

            <article class="article-style">
                <a href="/products/detail/<%= book.id_book %>">
                    <div class="conteiner-img">
                    <img
                    src="/img/<%= book.image %>"
                    alt="<%= book.name %>"
                    />
                    </div>
                    <div class="info">
                        <p class="descripcion"><%= book.name %></p>                        
                        <div class="box-linea">
                            <p class="precios">$<%= book.price %></p>
                            <p class="desc"><%= book.stock ? "Disponible" : "Sin Stock" %></p>
                        </div>
                    </div>
                </a>
            </article>
        <%}) %>
    </section>
    <p class="title">PSICOLOGIA</p>
    <section class="box-flex">
        <% psicologia.forEach(book => { %>

            <article class="article-style">
                <a href="/products/detail/<%= book.id_book %>">
                    <div class="conteiner-img">
                    <img
                    src="/img/<%= book.image %>"
                    alt="<%= book.name %>"
                    />
                    </div>
                    <div class="info">
                        <p class="descripcion"><%= book.name %></p>                        
                        <div class="box-linea">
                            <p class="precios">$<%= book.price %></p>
                            <p class="desc"><%= book.stock ? "Disponible" : "Sin Stock" %></p>
                        </div>
                    </div>
                </a>
            </article>
        <%}) %>
    </section>
    <p class="title">FICCION</p>
    <section class="box-flex">
        <% ficcion.forEach(book => { %>

            <article class="article-style">
                <a href="/products/detail/<%= book.id_book %>">
                    <div class="conteiner-img">
                    <img
                    src="/img/<%= book.image %>"
                    alt="<%= book.name %>"
                    />
                    </div>
                    <div class="info">
                        <p class="descripcion"><%= book.name %></p>        
                        <div class="box-linea">
                            <p class="precios">$<%= book.price %></p>
                            <p class="desc"><%= book.stock ? "Disponible" : "Sin Stock" %></p>
                        </div>
                    </div>
                </a>
            </article>
        <%}) %>
    </section>
    <p class="title">EDUCACION</p>
    <section class="box-flex">
        <% educacion.forEach(book => { %>

            <article class="article-style">
                <a href="/products/detail/<%= book.id_book %>">
                    <div class="conteiner-img">
                    <img
                    src="/img/<%= book.image %>"
                    alt="<%= book.name %>"
                    />
                    </div>
                    <div class="info">
                        <p class="descripcion"><%= book.name %></p>                        
                        <div class="box-linea">
                            <p class="precios">$<%= book.price %></p>
                            <p class="desc"><%= book.stock ? "Disponible" : "Sin Stock" %></p>
                        </div>
                    </div>
                </a>
            </article>
        <%}) %>
    </section>
    </main>

    <%- include('partials/footer.ejs') %>

    <script
    src="https://kit.fontawesome.com/1165876da6.js"
    crossorigin="anonymous"
    ></script>
</body>
</html>

