<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs',{'datos':datos.activar}) %>
    <title>Edición de Usuario</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <main class="user-profile">
        <div class="form-container">
            <h2 class="name-user">Editar Perfil</h2>
            <form action="/users/edit/<%=user.id_user%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="description-login" for="first_name">Nombre:</label>
                    <input class="input-login" type="text" id="first_name" name="firstName" value="<%= oldData ? oldData.firstName : user.first_name %>">
                </div>
                <div class="error-message" id="errStock">
                    <% if (locals.errors && errors.firstName) { %>
                        <%= errors.firstName.msg %>
                    <% } %>
                </div>
                <div class="form-group">
                    <label class="description-login" for="last_name">Apellido:</label>
                    <input class="input-login" type="text" id="last_name" name="lastName" value="<%= oldData ? oldData.lastName : user.last_name %>">
                </div>
                <div class="error-message" id="errStock">
                    <% if (locals.errors && errors.lastName) { %>
                        <%= errors.lastName.msg %>
                    <% } %>
                </div>
                <div class="form-group">
                    <label class="description-login" for="email">Email:</label>
                    <!-- <span><%= user.email %></span> -->
                    <input class="input-login" value="<%= user.email %>" name="email" type="text" readonly>
                </div>
                <div class="form-group">
                    <label class="description-login" for="phone">Teléfono:</label>
                    <input class="input-login" type="text" id="phone" name="phone" value="<%= oldData ? oldData.phone : user.phone %>">
                </div>
                <div class="error-message" id="errStock">
                    <% if (locals.errors && errors.phone) { %>
                        <%= errors.phone.msg %>
                    <% } %>
                </div>
                <div class="form-group">
                    <label class="description-login" for="password">Contraseña:</label>
                    <input class="input-login" type="password" id="password" name="password" value="<%= oldData ? oldData.password : user.password %>">
                </div>
                <div class="form-group">
                    <label class="description-login" for="password">Contraseña:</label>
                    <input class="input-login" type="password" id="password" name="confirmPassword" value="<%= oldData ? oldData.password : user.password %>">
                </div>

                <div class="form-group">
                    <label class="description-login" for="image">Imagen:</label>
                    <input class="input-login" type="file" id="image" name="avatar">
                </div>
                <div class="update-btn-user">
                <button type="submit" class="btn-profile">Actualizar <i class="fa-solid fa-user-pen"></i></button>
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="https://kit.fontawesome.com/6868278fd3.js" crossorigin="anonymous"></script>
</body>
</html>
