
<!DOCTYPE html>
<html lang="es">
<head.perfil>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\styles.css">
    <title>USUARIO</title>
</head.perfil>
<body.perfil>
   <main.perfil>
    <%- include('../partials/navbar.ejs') %>
    <h1>Perfil de usuario</h1>

    <form.perfil action="/api/users/<%= id %>" method="POST" enctype="multipart/form-data">
        <input.perfil type="hidden" name="_method" value="PUT">
        <label.perfil for="image">Imagen de Perfil:</label>
        <input.perfil type="file" id="image" name="image" accept="image/*"><br><br>
        

        <label.perfil for="firstName">Nombre:</label>
        <input.perfil type="text" id="firstName" name="firstName" value="<%= firstName %>"><br><br>
        
        <label.perfil for="lastName">Apellido:</label>
        <input.perfil type="text" id="lastName" name="lastName" value="<%= lastName %>"><br><br>
        
        <label.perfil for="email">Email:</label>
        <input.perfil type="email" id="email" name="email" value="<%= email %>"><br><br>
        
        <label for="category">Categoría:</label>
        <input type="text" id="category" name="category" value="<%= category %>"><br><br>
        
        <button.perfil type="submit">Actualizar Perfil</button>
    </form.perfil>
   </main.perfil>
   <%- include('../partials/footer.ejs') %>
   <script src="https://kit.fontawesome.com/6868278fd3.js" crossorigin="anonymous"></script>
</body.perfil>
</html>