<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs',{'datos':datos.activar}) %>
    <title>Actualización de libros</title>
</head>
<body>

    <%- include('../partials/navbar.ejs') %>

    <div class="login-box">
    <form class="register__form" action="/products/edit/<%= book.id_book %>?_method=PUT"  method="POST" enctype="multipart/form-data" id="form-edit">
        <div>
            <label for="nombreProducto">Nombre del Libro:<span class="register__required--red">*</span></label>
            <input type="text" id="nombreProducto" name="name" value="<%= oldData ? oldData.name : book.name %>" required autofocus minlength="6">
                <div class="error-message" id="errName">
                    <% if (locals.errors && errors.name) { %>
                        <%= errors.name.msg %>
                    <% } %>
                </div>
        </div>

        <div>
            <label for="autorProducto">Autor del Libro::<span class="register__required--red">*</span></label>
            <input type="text" id="autorProducto" name="author" value="<%= oldData ? oldData.author : book.author %>" required autofocus minlength="6">
                <div class="error-message" id="errName">
                    <% if (locals.errors && errors.author) { %>
                        <%= errors.author.msg %>
                    <% } %>
                </div>
        </div>

        <div>
            <label for="category">Categoria:<span class="register__required--red">*</span></label>
            <select name="category" id="categoriaProducto" required>
                <% categories.forEach(category => { %>
                    <option value="<%= category.id_category %>" <%= (oldData && oldData.category == category.id_category) || (book.category.id_category == category.id_category) ? 'selected' : '' %>><%= category.category %></option>
                <% }); %>
            </select>
                <div class="error-message" id="errCategory"></div>
        </div>

        <div>
            <label for="stock">Stock:<span class="register__required--red">*</span></label>
            <input type="number" id="stock" name="stock" value="<%= oldData ? oldData.stock : book.stock %>" required min="0">
                <div class="error-message" id="errStock">
                    <% if (locals.errors && errors.stock) { %>
                        <%= errors.stock.msg %>
                    <% } %>
                </div>
        </div>

        <div>
            <label for="imagenProducto">Imagen:</label>
            <input type="file" id="imgProducto" name="image">
                <div class="error-message" id="errImage">
                    <% if (locals.errors && errors.image) { %>
                        <%= errors.image.msg %>
                    <% } %>
                </div>
        </div>

        <div>
            <label for="precioProducto">Precio:<span class="register__required--red">*</span></label>
            <input type="number" name="price" id="precioProducto" value="<%= oldData ? oldData.price : book.price %>" required min="0" step="0.01">
                <div class="error-message" id="errPrice">
                    <% if (locals.errors && errors.price) { %>
                        <%= errors.price.msg %>
                    <% } %>
                </div>
        </div>

        <div>
            <label for="descripcionProducto">Descripción:<span class="register__required--red">*</span></label>
            <textarea name="description" id="descripcionProducto" minlength="10" required><%= oldData ? oldData.description : book.description %></textarea>
                <div class="error-message" id="errDescription">
                    <% if (locals.errors && errors.description) { %>
                        <%= errors.description.msg %>
                    <% } %>
                </div>
        </div>

        <div class="button-container">
            <button type="submit">Editar</button>
        </div>
    </form>
    </div>
    <script src="/js/validationEditProduct.js" defer></script>
</body>
</html>
