<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs',{'datos':datos.activar}) %>
    <title>Creación o actualización de productos</title>
</head>
<body>

    <%- include('../partials/navbar.ejs') %>

    <div class="register__container">
        <div class="register__form">
            <button type="submit"><a href="/products/create">Agregar</a></button>
            <form action="/products/edit" method="GET">
                <button type="submit">Editar</button>
                <select name="productEditId">
                    <% products.forEach(prod => { %>
                        <option value="<%= prod.id %>"><%= prod.name %></option>
                    <%}); %>
                </select>
            </form>
            <form action="/products/delete?_method=DELETE" method="POST">
                <button type="submit">Eliminar</button>
                <select name="productDeleteId">
                    <% products.forEach(prod => { %>
                        <option value="<%= prod.id %>"><%= prod.name %></option>
                    <%}); %>
                </select>
            </form>
        </div>
    </div>
</body>
</html>