<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs',{'datos':datos.activar}) %>
    <title>Detalles del Libro</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <main>
        <section class="product-details">
        
            <div class="product-description">
                <div class="product-description-container">
                <img src="/img/<%= book.image %>" class="product-details-img"  alt="<%= book.name %>">

                <div class="product-details-info"> 
                    <h1 class="title-description"><%= book.name %></h1>
                    <p class="style-author"> <%= book.author %> </p>
                    <p class="price-total">Precio: $ <span><%= book.price %></span></p>
                    <p class="disponibilidad-description">
                        Disponibilidad: <span id="disponibilidad"><%= book.stock > 0 ? book.stock : "Sin Stock" %></span>
                    </p>
                    <a href="/products/<%=book.id_category%>>"><p class="category"><%= book.category.category %></p></a>
                    <img class="img-pagos" src="/img/pagos.png" alt="pagos">
                <form class="cantidad-box" action="/products" method="POST">
                    <div class="cantidad-controls">
                            <label class="lblCantidad" for="cantidad" id="lblCantidad">Cantidad:</label>
                            <button id="btnMas">+</button>
                            <input type="number" id="cantidad" name="quantity" min="1" value="1" readonly>
                            <button id="btnMenos">-</button>
                        </div>               
                        <input type="hidden" name="productId" value="<%= book.id_book %>">
                    <button id="btnAddCart" type="submit" class="agregar-carrito-btn">Agregar al carrito</button>
                </form>
                </div>
            </div>
        </div>
        <div class="style-desccription">
            <span >Descripción:</span>
            <p style="text-align: justify; margin-top: 10px"><%= book.description %> </p>
        </div>
            <% if (isAdmin) { %>
                <a class="update-btn" href="/products/edit/<%= book.id_book %>">Editar</a>
                <form action="/products/delete/<%= book.id_book %>?_method=DELETE" method="POST">
                    <button class="delete-btn">ELIMINAR</button>
                </form>
            <% } %>

        </section>
        <p class="parrafo-relacionado">Te pueden interesar...</p>
        <section class="productos-relacionados">
            <% relatedBooks.forEach(book =>{ %>
                <article class="producto">
                    <a href="/products/detail/<%= book.id_book %>">
                    <div class="producto-imagen">
                        <img src="/img/<%= book.image %>"  class="product-details-img" alt="<%= book.name%>">
                        </div>
                    </a>
                </article>
            <% }) %>
        </section>
    </main>
    <script src="/js/productDetail.js"></script>

    <%- include('../partials/footer.ejs') %>
</body>
</html>
