<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs',{'datos':datos.activar}) %>
    <title>Carrito de Compras</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <main class="productcart-main">
        <section class="product-list">
            <% if (cart && cart.length > 0) { %>
                <% cart.forEach(item => { %>
                    <section class="product-item">
                        <div><img class="product-image" src="data:image/png;base64,<%= item.prod.image %>" alt="<%= item.prod.name %>"></div>
                        <div class="product-cart-details">
                            <span class="product-name"><%= item.prod.name %></span>
                            <span class="product-code">Cod. <%= item.prod.productId %></span>
                            <span class="product-price">$<%= item.prod.price %></span>
                            <div class="product-quantity">
                                <span class="quantity-number"><%= item.quantity %></span>
                            </div>
                            <form action="/products/cart/<%= item.prod.productId %>?_method=DELETE" method="POST">
                                <button class="remove-btn">Remove</button>
                            </form>
                        </div>
                    </section>
                <% }) %>
            <% } else { %>
                <p>Tu carrito está vacío</p>
            <% } %>
        </section>
    </main>
    <section class="productcart-section">
        <div class="section-content">
            <div class="section-left">
                <div class="total-amount">
                    <span>TOTAL: </span>
                    <span class="price-total">$ 35.102</span>
                </div>
                <div>
                    <a class="shipping-info" href="#">Calcular envío</a>
                </div>
            </div>
            <div class="section-right">
                <button class="section-btn">SEGUIR COMPRANDO</button>
            </div>
            <div class="payment-section">
                <form action="/products/checkout" method="POST">
                    <button class="pay-btn">PAGAR</button>
                </form>
            </div>
        </section>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
