<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs',{'datos':datos.activar}) %>
    <title>Detalles del Producto</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <main>
        <section class="product-details">
            <img src="/img/<%= product.image %>" class="product-details-img"  alt="<%= product.name %>">
            <div class="product-description">
                <h1><%= product.name %></h1>
                <p ><%= product.description %> </p>
                <p class="price-total">Precio: $<%= product.price %></p>
                <p >Disponibilidad: <span id="disponibilidad"><%= product.available ? "Disponible" : "Sin Stock" %></span></p>
                <form class="cantidad-box" action="/products" method="POST">
                        <label for="cantidad">Cantidad:</label>
                        <div class="cantidad-controls">
                            <input type="number" id="cantidad" name="quantity" min="1" value="1">
                            <input type="hidden" name="productId" value="<%= product.id %>">
                        </div>               
                    <button type="submit" class="agregar-carrito-btn">Agregar al carrito</button>
                </form>
                </div>
            </div>
            <% if (isAdmin) { %>
                <a class="update-btn" href="/products/edit/<%= product.id %>">Editar</a>
                <button class="delete-btn">Eliminar</button>
            <% } %>
        </section>
        <p class="product-relacionado">Productos Relacionados</p>
        <section class="productos-relacionados">
            <% relatedProducts.forEach(prod =>{ %>
                <article class="producto">
                    <a href="/products/detail/<%= prod.id %>">
                    <div class="producto-imagen">
                        <img src="/img/<%= prod.image %>"  class="product-details-img" alt="<%= prod.name%>">
                        </div>
                    <div class="producto-descripcion">
                        <p><%= prod.name %></p>
                        <p>Precio: $<%= prod.price %></p>
                        <p><span><%= product.available ? "Disponible" : "Sin Stock" %></span></p>
                    </div>
                    </a>
                </article>
            <% }) %>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>
